body {font-size: 22px;font-family: Monaco, Monospace;background-color: #282a36;}
h1 {color: #ff79c6;}
h2 {color: #ff5555;}
h3 {color: #8be9fd;}
ul {color: #50fa7b;}
ol {color: #50fa7b;}
p {color: #f8f8f2;}
a {color: #bd93f9;}
div {color: #50fa7b;}
